@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&family=Dosis:wght@700&family=Gilda+Display&display=swap');
body{  
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gilda Display';
}
.placeicon {
    font-family: fontawesome
}
.card{
    background: #fff;
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    width: 60%;
}   
.form-group small{
    padding-bottom: 15px;
}
.errorMessage{
    color: red;
}
.form-group h4,label{
    font-weight: 600;
}
.card-footer .btn{
    padding: 5px 40%;
    color: #fff;
    box-shadow: 0 0 40px 40px #050801 inset, 0 0 0 0 #050801;
    transition: all 150ms ease-in-out;
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
}
.card-footer .btn:hover{
    box-shadow: 0 0 10px 0 #03e9f4 inset, 0 0 10px 4px #03e9f4;
    border-color: #03e9f4;
    color: #050801;
}
.forgot{
    padding-top: 30px;
}
.forgot-Pass{
    padding-top: 30px;
    margin-bottom: -60px;
}
.backhomeP{
    color: #000;
}
.backhomeP:hover{
    color: #fff;
}
.backhomeForget{
    color: #000;
}
.backhomeForget:hover{
    color: #03e9f4;
}
#register-form .form-group .btn{
    color: #fff;
    box-shadow: 0 0 40px 40px #050801 inset, 0 0 0 0 #050801;
    transition: all 150ms ease-in-out;
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
}
#register-form .form-group .btn:hover{
    box-shadow: 0 0 10px 0 #03e9f4 inset, 0 0 10px 4px #03e9f4;
    border-color: #03e9f4;
    color: #050801;
}
.form-group .btn{
    color: #fff;
    box-shadow: 0 0 40px 40px #050801 inset, 0 0 0 0 #050801;
    transition: all 150ms ease-in-out;
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
}
.form-group .btn:hover{
    box-shadow: 0 0 10px 0 #03e9f4 inset, 0 0 10px 4px #03e9f4;
    border-color: #03e9f4;
    color: #050801;
}
.invalid #email-for-pass{
    border: 2px solid red;
}
.invalid .form-mess{
    color: red;
    margin-left: 15px;
}